@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2&display=swap');

body, html {
    background-color: #FCF7F2 !important;
}

* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.app-header-container {
  background-color: transparent;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.app-header-container h1 {
  margin: 0;
  padding-left: 60px;
}

.app-header-container div {
justify-content: space-evenly;

}

.app-header-buttons a {
  color: black;
  padding: 0 0 0 30px;
  align-items: center;
  font-size: 20px;
  justify-content: space-evenly;
}

.image-holder img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  height: 25%;
}

.content-name {
  display: flex;
  flex-direction: row;
  font-family: 'Righteous', cursive;
  font-size:6vw;
  margin-left: auto;
  margin-right: auto;
}

.content-section {
  display: flex;
  flex-direction: column;
  width: 67%;
  margin-top: 20px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.about-text {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5%;
  font-family: 'Baloo Tammudu 2', cursive;
  font-size: x-large;
}

.education-div {
  display: flex;
  flex-direction: column;
  margin-top: 5%;
}

.work-div {
  display: flex;
  flex-direction: column;
}

.job-title {
  font-size:x-large;
  font-weight: bold;
  margin-bottom: 0%;
}

.company {
  display: flex;
  flex-direction: row;
  margin-top: 3%;
}

.company-logos {
  width: 10%;
  height: 30%;
  border-radius: 90%;
}

.sub-section {
  display: flex;
  justify-content: center;
  font-size: x-large;
  font-style: oblique;
  margin-top: 5%;
  margin-bottom: 0.5%;
}

.experience {
  margin-top: 0%;
}

.job-info {
  margin-top: 2%;
  margin-left: 5%;
}

@media only screen and (max-width: 470px) {
  .image-holder img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 33%;
    height: 25%;
  }

  .company-logos {
    width: 23%;
    height: 25%;
    border-radius: 90%;
  }

  .job-title {
    font-size:large;
    font-weight: bold;
    margin-bottom: 0%;
  }

  .content-section {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-top: 20px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }
}

.school-name {
  display: flex;
  text-align: left;
}

a {
    text-decoration: none;
    color: black;
    font-family: 'Lato', sans-serif;
}

span {
    white-space: pre-wrap;
}

.about {
    color: white;
}

ul {
  display: flex;
  flex-direction: column;
  list-style-type: circle;
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}

ul .tool-list {
  font-family: 'Baloo Tammudu 2', cursive;
  font-size: x-large;
  width: 50%;
}

.tech-intro {
  display: flex;
  font-family: 'Baloo Tammudu 2', cursive;
  font-size: x-large;
}

.text-body {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2%;
  font-family: 'Baloo Tammudu 2', cursive;
  font-size: x-large;
  text-align: center;
}

.contact-body {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  font-family: 'Baloo Tammudu 2', cursive;
  font-size: x-large;
  text-align: center;
}

.footer {
  display: flex;
  justify-content: center;
}
